.container_header {
  height: 100px;
  background: #2C3E50;
}

.container_one {
  height: 500px;
  background: #1ABC9C;
}

.container_two {
  background: purple;
}

.container_three {
  height: 700px;
  background: #1ABC9C;
}

.container_four {
  height: 600px;
  background: purple;
}

.container_footer {
  height: 500px;
  background: #2C3E50;
}

/* [class*="col-"] [class*="col-xs-12"] {
  height: 200px;
  border: 1px solid black;
  background: red;
  margin: 20px 0;
} */

.portfolio_image {
  height: 300px;
  width: 90%;
  border: 1px solid black;
  background: red;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 10px
}

.location {
  height: 33%;
  width: 90%;
  border: 1px solid black;
  background: orange;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.social {
  height: 33%;
  width: 90%;
  border: 1px solid black;
  background: orange;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.about {
  height: 33%;
  width: 90%;
  border: 1px solid black;
  background: orange;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}


.copyright {
height: 100px;
background: #2C3E50;
}
